@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Agent Code: @Model.agent.AgentCode</p>
<p>Name: @Model.agent.AgentName</p>
<p>Working Area: @Model.agent.WorkingArea</p>
<p>Commission: @Model.agent.Commission</p>
<p>Phone Number: @Model.agent.PhoneNo</p>
<form action="/home/hideAgent/@Model.agent.AgentCode" method="post">
    <button type="submit" class="btn btn-danger" >Delete</button>
    <a class="btn btn-outline-primary" href="/home/updateAgent/@Model.agent.AgentCode">Edit</a>
</form>