@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>Agent Code: @Model.agent.AgentCode</div>
<div>Name: @Model.agent.AgentName</div>
<div>Working Area: @Model.agent.WorkingArea</div>
<div>Commission: @Model.agent.Commission</div>
<div>Phone Number: @Model.agent.PhoneNo</div>